<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <title>Swadesh Languages</title>

    

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.5/examples/album/"
    />

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('common/header'); -%>
     
    <div class="container">
          <div class="row col-md-12 col-md-offset-2 custyle mx-auto">

              <h1 class="mx-auto"> Choose two languages to compare </h1>

              <div class="row col-md-12 justify-content-md-center mb-3">
                <div class="form-row m-0">
                  <form method="GET" action="/compare-language">

                    <div class="form-group">
                      
                      <label for="lang1">Language 1</label> 
                      <input type="search" class="form-control " placeholder="Search" aria-label="Search"
                        id="lang1" name="lang1"/>
                    </div>
                      
                    <div class="form-group">
                      <label for="lang2">Language 2</label>
                      <input type="search" class="form-control " placeholder="Search" aria-label="Search"
                      id="lang2" name="lang2"/> <br/>
                    </div>
                    
                    <button type="submit" class="btn btn-outline-primary form-control align-bottom">Search</button>
                  
                    
                      
                  </form>
                </div>
                
              </div>
            
              <div class="col-md-6">
                  <h2 class="mx-auto table-info"> <%-  languageOne ? languageOne.language : "Language not found"  %>  </h2>
                  <div class="table-responsive"> 
        
                  <table class="table table-striped custab">
                  
                      <tr>
                          <th>Name</th>
                          <td class="float-right"><%-  languageOne ? languageOne.language : "Language not found"  %></td>
                      </tr>
                      <tr>
                          <th>Family</th>
                          <td class="float-right"><%-  languageOne ? languageOne.family : "Language not found"  %></td>
                      </tr>
                      <tr>
                      <th>ISO</th>
                      <td class="float-right"><%-  languageOne ? languageOne.iso693 : "Language not found"  %></td>
                      </tr>
                      <tr>
                      <th>Region</th>
                      <td class="float-right"><%-  languageOne ? languageOne.region : "Language not found"  %></td>
                      </tr>
                      <tr>
                      <th>Status</th>
                      <td class="float-right"><%-  languageOne ? languageOne.status : "Language not found"  %></td>
                      </tr>
                      <tr>
                      <th>Speakers</th>
                      <td class="float-right"><%-  languageOne ? languageOne.speakers : "Language not found"  %></td>
                      </tr> 
                      <tr>
                      <th>Description</th>
                      <td class="float-right"><%-  languageOne ? languageOne.description : "Language not found"  %></td>
                      </tr> 

                      <% if(languageOne){ %>

                        <% for (const word in languageOne.words) {
                            
                        %>
          
                            <tr>
                                
                                <td><%=  word  %></td>
                                <th class="float-right"><%=  languageOne.words[word]  %></th>   
                            </tr>
                            
                        <%  
                            };
                         %>
                        <% } else{ %>  
                          <p>Language not found</p>
                        <% } %>
                        
      
                  </table>
              </div>
              </div>
        
          <div class="col-md-6">
              <h2 class="mx-auto table-info"> <%-  languageTwo ? languageTwo.language : "Language not found"  %>  </h2>
              <div class="table-responsive"> 
        
          <table class="table table-striped custab">
          
              <tr>
                  <td><%-  languageTwo ? languageTwo.language : "Language not found"  %></td>
                  <th class="float-right">Name</th>
                  
              </tr>
              <tr>
                  
                  <td><%-  languageTwo ? languageTwo.family : "Language not found"  %></td>
                  <th class="float-right">Family</th>
              </tr>
              <tr>
                
                <td><%-  languageTwo ? languageTwo.iso693 : "Language not found"  %></td>
                <th class="float-right">ISO</th>
              </tr>
              <tr>
                
                <td><%-  languageTwo ? languageTwo.region : "Language not found"  %></td>
                <th class="float-right">Region</th>
              </tr>
              <tr>
                
                <td><%-  languageTwo ? languageTwo.status : "Language not found"  %></td>
                <th class="float-right">Status</th>
              </tr>
              <tr>
                
                <td><%-  languageTwo ? languageTwo.speakers : "Language not found"  %></td>
                <th class="float-right">Speakers</th>
              </tr> 
              <tr>
                
                <td><%-  languageTwo ? languageTwo.description : "Language not found"  %></td>
                <th class="float-right">Description</th>
              </tr> 

              <% if(languageTwo){ %>

              <% for (const word in languageTwo.words) {
                  
              %>

                  <tr>
                      
                      <th><%=  languageTwo.words[word]  %></th>
                      <td class="float-right"><%=  word  %></td>   
                  </tr>
                  
              <%  
                  };
               %>
              <% } else{ %>  
                <p>Language not found</p>
              <% } %>
              
        
          </table>
      </div>
      </div>

              

        </div>

    </div>

        
    <%- include('common/footer') -%>
  </body>
</html>
