<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <title>Swadesh Lists</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.5/examples/album/"
    />

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('common/header'); -%>

    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1>Extensive collection of Swadesh Lists</h1>
          
        </div>
      </section>

      <div class="album py-5 bg-light"> 
        <div class="container">
          <div class="row">
            <%  
        
          languages.forEach(language => {
            
            %>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                  role="img"
                  aria-label=""
                >
                  <title><%=  language.language  %></title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                    <%=  language.language  %>
                  </text>
                </svg>
                <div class="card-body">
                  <p class="text-center"><strong><%=  language.family  %></strong></p>
                  <p class="text-center"><strong><%=  language.region  %></strong></p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <a class='btn btn-sm btn-outline-secondary' href="/view/<%= language.id %>" ><span class="glyphicon glyphicon-edit"></span> View</a>
                      <!-- <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                        
                      >
                        View
                      </button> -->
                    </div> 
                  </div>
                </div>
              </div>
            </div>
            
            <%  
              });
            %>
          </div>
        </div>
      </div>
    </main>
    <div class="row col-md-12 col-md-offset-2 custyle mx-auto">
    
    
    
      <nav aria-label="Page navigation example">
     
     
     
        <ul class="pagination">

          <% if (currentPage === 1) { %>
            
            <li class="page-item disabled"><a class="page-link" href="#">First</a></li>     
          <% } %>  
          <% if (currentPage > 1) { %>
              <li class="page-item"><a class="page-link" href="/">First</a></li>
          <% } %>  

          <% if (numberOfPages > 1) { %>

            <li class="page-item"><a class="page-link" href="/?page=<%= currentPage === numberOfPages ? currentPage - 10 :  currentPage + 1 %>"><%= currentPage === numberOfPages ? currentPage - 10 :  currentPage + 1 %></a></li>
            <li class="page-item"><a class="page-link" href="/?page=<%= currentPage === numberOfPages ? currentPage - 9 :  currentPage + 2 %>"><%= currentPage === numberOfPages ? currentPage - 9 :  currentPage + 2 %></a></li>
            <li class="page-item"><a class="page-link" href="/?page=<%= currentPage === numberOfPages ? currentPage - 8 :  currentPage + 3 %>"><%= currentPage === numberOfPages ? currentPage - 8 :  currentPage + 3 %></a></li>
            <li class="page-item"><a class="page-link" href="/?page=<%= currentPage === numberOfPages ? currentPage - 7 :  currentPage + 4 %>"><%= currentPage === numberOfPages ? currentPage - 7 :  currentPage + 4 %></a></li>
            <li class="page-item"><a class="page-link" href="/?page=<%= currentPage === numberOfPages ? currentPage - 6 :  currentPage + 5 %>"><%= currentPage === numberOfPages ? currentPage - 6 :  currentPage + 5 %></a></li>
            <li class="page-item"><a class="page-link" href="/?page=<%= currentPage === numberOfPages ? currentPage - 5 :  currentPage + 6 %>"><%= currentPage === numberOfPages ? currentPage - 5 :  currentPage + 6 %></a></li>
            <li class="page-item"><a class="page-link" href="/?page=<%= currentPage === numberOfPages ? currentPage - 4 :  currentPage + 7 %>"><%= currentPage === numberOfPages ? currentPage - 4 :  currentPage + 7 %></a></li>
            <li class="page-item"><a class="page-link" href="/?page=<%= currentPage === numberOfPages ? currentPage - 3 :  currentPage + 8 %>"><%= currentPage === numberOfPages ? currentPage - 3 :  currentPage + 8 %></a></li>
            <li class="page-item"><a class="page-link" href="/?page=<%= currentPage === numberOfPages ? currentPage - 2 :  currentPage + 9 %>"><%= currentPage === numberOfPages ? currentPage - 2 :  currentPage + 9 %></a></li>
            <li class="page-item"><a class="page-link" href="/?page=<%= currentPage === numberOfPages ? currentPage - 1 :  currentPage + 10 %>"><%= currentPage === numberOfPages ? currentPage - 1 :  currentPage + 10 %></a></li>
            
            <% } %> 
            
        
          <% if (currentPage === numberOfPages) { %>
            
            <li class="page-item disabled"><a class="page-link" href="">Last</a></li>     
          <% } %>  
          
          <% if (currentPage < numberOfPages) { %>
              <li class="page-item"><a class="page-link" href="/languages?page=<%= numberOfPages %>">Last</a></li>
          <% } %>  
          
          </ul>
       </nav>
    </div>
    <%- include('common/footer') -%>
  </body>
</html>
